codepkg/flows/Create-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>NewOverdraft1</name>
        <label>NewOverdraft1</label>
        <locationX>570</locationX>
        <locationY>138</locationY>
        <inputAssignments>
            <field>Bank_Account_Lookup__c</field>
            <value>
                <elementReference>BankAccountName.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Lookup__c</field>
            <value>
                <elementReference>AccountSave.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameOfBankAccount</elementReference>
            </value>
        </inputAssignments>
        <object>Overdraft__c</object>
    </recordCreates>
    <recordLookups>
        <name>CheckBankAccount</name>
        <label>CheckBankAccount</label>
        <locationX>425</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewOverdraft1</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NameOfBankAccount</elementReference>
            </value>
        </filters>
        <object>BankAccount__c</object>
        <outputReference>BankAccountName</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>CheckCustomer</name>
        <label>CheckCustomer</label>
        <locationX>264</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckBankAccount</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NameOfCustomer</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountSave</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>InputInfo</name>
        <label>InputInfo</label>
        <locationX>111</locationX>
        <locationY>133</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckCustomer</targetReference>
        </connector>
        <fields>
            <name>TextInfo</name>
            <fieldText>Input some information to get overdraft</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NameOfCustomer</name>
            <dataType>String</dataType>
            <fieldText>Enter your customer name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NameOfBankAccount</name>
            <dataType>String</dataType>
            <fieldText>Enter you bankAccount name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>InputInfo</startElementReference>
    <variables>
        <name>AccountSave</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BankAccountName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BankAccount__c</objectType>
    </variables>
    <variables>
        <name>NewOverdraft</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Overdraft__c</objectType>
    </variables>
</Flow>
