codepkg/flows/Get_Email_after_transaction-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>NoAnswer</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesAnswer</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>YourDecision</name>
        <label>YourDecision</label>
        <locationX>292</locationX>
        <locationY>215</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Your_answer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateYes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Your_answer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateNo</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Get Email after transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Email after transaction</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>UpdateNo</name>
        <label>UpdateNo</label>
        <locationX>299</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>Answer</targetReference>
        </connector>
        <inputAssignments>
            <field>Get_Email_after_transaction__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateYes</name>
        <label>UpdateYes</label>
        <locationX>518</locationX>
        <locationY>212</locationY>
        <connector>
            <targetReference>Answer_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Get_Email_after_transaction__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
    </recordUpdates>
    <screens>
        <name>Answer</name>
        <label>Answer</label>
        <locationX>538</locationX>
        <locationY>482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AnswerText</name>
            <fieldText>You choice te answer &quot;No&quot;. Update your site page.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Answer_0</name>
        <label>Answer</label>
        <locationX>684</locationX>
        <locationY>195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AnswerText_0</name>
            <fieldText>Ok. Update your site page.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Output</name>
        <label>Output</label>
        <locationX>155</locationX>
        <locationY>218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>YourDecision</targetReference>
        </connector>
        <fields>
            <name>TextInfo</name>
            <fieldText>Do you want to get email notification after transaction?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Your_answer</name>
            <choiceReferences>YesAnswer</choiceReferences>
            <choiceReferences>NoAnswer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Your answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Output</startElementReference>
</Flow>
